In [1]:
divmod(20, 8)

(2, 4)

In [5]:
import os 

path, filename = os.path.split('./Untitled.ipynb')
path

'.'

In [7]:
a, b, *rest = range(2, 6)
a, b, rest

(2, 3, [4, 5])

In [11]:
metro_areas = [
('Tokyo','JP',36.933,(35.689722,139.691667)), 
('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]

print('{:^15} | {:^9} | {:^9}'.format('name', 'lat.', 'long.'))
fmt = '{:15} | {:9.4f} | {:9.4f}'

for name, cc, pop, (latitude, longtitude) in metro_areas:
    if longtitude <= 0:
        print(fmt.format(name, latitude, longtitude))

     name       |   lat.    |   long.
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
Sao Paulo       |  -23.5478 |  -46.6358

In [1]:
from collections import namedtuple

City = namedtuple('City', 'name country population coordinates')
tokyo = City('Tokyo', 'Japan', 36.933, (35.689722, 139.691667))
tokyo

City(name='Tokyo', country='Japan', population=36.933, coordinates=(35.689722, 139.691667))

In [2]:
City._fields

('name', 'country', 'population', 'coordinates')

In [3]:
LatLong = namedtuple('LatLong', 'lat long')
delhi_data = ('Delhi NCR', 'IN', 21.935, LatLong(28.613889, 77.208889))
delhi = City._make(delhi_data)
delhi

City(name='Delhi NCR', country='IN', population=21.935, coordinates=LatLong(lat=28.613889, long=77.208889))

In [4]:
delhi._asdict()

OrderedDict([('name', 'Delhi NCR'),
             ('country', 'IN'),
             ('population', 21.935),
             ('coordinates', LatLong(lat=28.613889, long=77.208889))])

In [7]:
for key, value in delhi._asdict().items():
    print(key + ":", value)

name: Delhi NCR
country: IN
population: 21.935
coordinates: LatLong(lat=28.613889, long=77.208889)

In [8]:
a = ('sad', 'adas')
b = ('123', 'asd')
a + b

('sad', 'adas', '123', 'asd')

In [5]:
a = [(123, 321), (133, 111), (131, 232), 66, 88]

a[1:...]

TypeError: slice indices must be integers or None or have an __index__ method

In [3]:
rows = ['_'] * 3
board = []
for i in range(3):
    board.append(rows)

board[1][2] = 'X'
board

[['_', '_', 'X'], ['_', '_', 'X'], ['_', '_', 'X']]

In [7]:
board1 = []
for i in range(3):
    row = ['_'] * 3
    board1.append(row)

board1[1][2] = 'X'
board1

[['_', '_', '_'], ['_', '_', 'X'], ['_', '_', '_']]

In [11]:
import bisect
import sys

HAYSTACK = [1, 4, 5, 6, 8, 12, 15, 20, 21, 23, 23, 26, 29, 30]
NEEDLES = [0, 1, 2, 5, 8, 10, 22, 23, 29, 30, 31]

ROW_FMT = '{0:2d} @ {1:2d}     {2}{0:<2d}'

def demo(bisect_fn):
    for needle in reversed(NEEDLES):
        position = bisect_fn(HAYSTACK, needle)
        offset = position * ' |'
        print(ROW_FMT.format(needle, position, offset))
        
if __name__ == '__main__':
    print(sys.argv)
    if sys.argv[-1] == 'left':
        bisect_fn = bisect.bisect_left
    else:
        bisect_fn = bisect.bisect
        
    print('DEMO:', bisect_fn.__name__)
    print('haystack ->', ''.join('%2d' % n for n in HAYSTACK))
    demo(bisect_fn)

['C:\\ProgramData\\Anaconda3\\lib\\site-packages\\ipykernel_launcher.py', '-f', 'C:\\Users\\Administrator\\AppData\\Roaming\\jupyter\\runtime\\kernel-8ade2f40-b5b0-44a9-883d-70d1ae8f1593.json']
DEMO: bisect_right
haystack ->  1 4 5 6 8121520212323262930
31 @ 14      | | | | | | | | | | | | | |31
30 @ 14      | | | | | | | | | | | | | |30
29 @ 13      | | | | | | | | | | | | |29
23 @ 11      | | | | | | | | | | |23
22 @  9      | | | | | | | | |22
10 @  5      | | | | |10
 8 @  5      | | | | |8
 5 @  3      | | |5
 2 @  1      |2
 1 @  1      |1
 0 @  0     0

In [10]:
list1 = [1, 2, 5, 6, 7, 13, 23, 25, 36]

bisect.bisect(list1, 3)

2

In [13]:
def grade(score, breakpoints=[60, 70, 80, 90], grades='FDCBA'):
    i = bisect.bisect(breakpoints, score)
    return grades[i] 

[grade(score) for score in [33, 99, 77, 70, 89, 90, 100]]

['F', 'A', 'C', 'C', 'B', 'A', 'A']

In [1]:
import bisect
import random 

SIZE = 7

random.seed.__call__(9)

my_list = []
for i in range(SIZE):
    new_item = random.randrange(SIZE*2)
    bisect.insort(my_list, new_item)
    print('%2d ->' % new_item, my_list)

 7 -> [7]
 9 -> [7, 9]
 5 -> [5, 7, 9]
 4 -> [4, 5, 7, 9]
 2 -> [2, 4, 5, 7, 9]
 2 -> [2, 2, 4, 5, 7, 9]
13 -> [2, 2, 4, 5, 7, 9, 13]